In [1]:
import numpy as np
import pandas as pd
from convert import convert
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.naive_bayes import GaussianNB

In [2]:
%matplotlib qt

In [3]:
path = "datasets\\"
dataset = "crx.data"

column_names=["a"+str(i) for i in range(0,16)]
crx = pd.read_csv(path+dataset, names=column_names)

In [4]:
crx.head()

  a0     a1     a2 a3 a4 a5 a6    a7 a8 a9  a10 a11 a12    a13  a14 a15
0  b  30.83  0.000  u  g  w  v  1.25  t  t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t  t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t  f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t  t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t  f    0   f   s  00120    0   +

# Фильтрация отсутствующих значений

In [5]:
crx = crx.replace(to_replace="?", value=np.nan) #since we have ? symbols instead of NaN, we need to replace
crx = crx.dropna()

# Приведение к удобному для python виду

In [6]:
cn=["a0", "a3", "a4", "a5", "a6", "a8", "a9", "a11", "a12"]
crx_conv = crx.copy()
crx_conv = convert(crx_conv, cn)

In [7]:
crx_conv.head()

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15
0,1,30.83,0.000,1,0,12,7,1.25,1,1,1,0,0,00202,0,+
1,0,58.67,4.460,1,0,10,3,3.04,1,1,6,0,0,00043,560,+
2,0,24.50,0.500,1,0,10,3,1.50,1,0,0,0,0,00280,824,+
3,1,27.83,1.540,1,0,12,7,3.75,1,1,5,1,0,00100,3,+
4,1,20.17,5.625,1,0,12,7,1.71,1,0,0,0,2,00120,0,+

In [8]:
X = crx_conv.iloc[:,:15]
Y=crx_conv.iloc[:,15]
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [9]:
scaler = StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [10]:
gnb = GaussianNB()
gnb.fit(x_train, y_train)

y_pred = gnb.predict(x_test)

In [11]:
print("Number of mislabeled points out of a total %d points : %d" % (x_test.shape[0], (y_test != y_pred).sum()))

Number of mislabeled points out of a total 131 points : 22

In [12]:
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[42 15]
 [ 7 67]]
              precision    recall  f1-score   support

           +       0.86      0.74      0.79        57
           -       0.82      0.91      0.86        74

    accuracy                           0.83       131
   macro avg       0.84      0.82      0.83       131
weighted avg       0.83      0.83      0.83       131