In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler #for scaling features
from sklearn.neighbors import KNeighborsClassifier #for knn
from sklearn.metrics import confusion_matrix, classification_report #for evaluation

In [36]:
%matplotlib qt

In [37]:
path = "C:\\Users\\Vladimir\\Desktop\\datamining data\\"
dataset = "tae.data"

column_names=["Native speaker", "Instructor", "Course", "Summer", "Class size", "Class attribute"]
tae = pd.read_csv(path+dataset, names=column_names)

In [38]:
tae.head()

   Native speaker  Instructor  Course  Summer  Class size  Class attribute
0               1          23       3       1          19                3
1               2          15       3       1          17                3
2               1          23       3       2          49                3
3               1           5       2       2          33                3
4               2           7      11       2          55                3

In [39]:
X=tae.iloc[:,:5]
Y=tae.iloc[:,5]
X.head()

   Native speaker  Instructor  Course  Summer  Class size
0               1          23       3       1          19
1               2          15       3       1          17
2               1          23       3       2          49
3               1           5       2       2          33
4               2           7      11       2          55

In [40]:
Y.head()

0    3
1    3
2    3
3    3
4    3
Name: Class attribute, dtype: int64

In [81]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.3)

In [82]:
#scaling
scaler = StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [87]:
#training
knc = KNeighborsClassifier(n_neighbors=6)
knc.fit(x_train, y_train)

pred = knc.predict(x_test)

In [88]:
#evaluating
print(confusion_matrix(y_test, pred))
print(classification_report(y_test, pred))

[[11  2  1]
 [ 8  4  3]
 [ 4  2 11]]
              precision    recall  f1-score   support

           1       0.48      0.79      0.59        14
           2       0.50      0.27      0.35        15
           3       0.73      0.65      0.69        17

    accuracy                           0.57        46
   macro avg       0.57      0.57      0.54        46
weighted avg       0.58      0.57      0.55        46

In [89]:
error = []

# Calculating error for K values between 1 and 40
for i in range(1, 40):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train, y_train)
    pred_i = knn.predict(x_test)
    error.append(np.mean(pred_i != y_test))

In [90]:
plt.figure(figsize=(12, 6))
plt.plot(range(1, 40), error, color='red', linestyle='dashed', marker='o',
         markerfacecolor='blue', markersize=10)
plt.title('Error Rate K Value')
plt.xlabel('K Value')
plt.ylabel('Mean Error')

Text(0, 0.5, 'Mean Error')